#container {
	background:#98bf21;
	height:100px;
	width:200px;
  margin:6px;
  color: #fff;
  padding: 2px;
}

#animateButton {
  border: 0.5px solid #000;
  padding: 5px;
  color: #fff;
  background-color: #00cc00;
}